<header class="bg-danger text-white">
    <div class="container text-center"><img width="125" height="125" src="/img/moeen.jpg" alt="..."
                                            class="rounded-circle">
        <h1>Moeen Farooq Basra</h1>
        <p class="lead">Master in Information Technology</p>
        <p class="lead">Web Developer at <a class="text-white" href="infamous.ae" target="_blank">Infamous.ae</a>
        </p>
        <p class="lead"><i class="fa fa-heart text-danger"></i>{ PHP, JavaScript, Python, MySQL,
            MongoDB }</p></div>
</header>