{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="mx-auto"><span class="anchor"></span>
                            <div class="card has-shadow">
                                <div class="card-body">
                                    {% if error %}
                                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                    <form action="{{ path('login') }}" method="post" class="form" role="form"
                                          novalidate="">
                                        <h2 class="card-title">Please sign in</h2>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                        <div class="form-group">
                                            <label for="email" class="sr-only">Email</label>
                                            <input type="text"
                                                   name="email"
                                                   value="{{ last_username }}"
                                                   id="email"
                                                   class="form-control form-control-lg rounded-0 false"
                                                   placeholder="Email address"
                                                   required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="sr-only">Password</label>
                                            <input type="password"
                                                   name="password"
                                                   value=""
                                                   id="password"
                                                   class="form-control form-control-lg rounded-0 false"
                                                   placeholder="Password"
                                                   required="">
                                        </div>
                                        <div>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" name="remember" class="custom-control-input"
                                                       value="on">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description small">Remember me on this computer</span>
                                            </label>
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
                                        <p>Not a member? <a href="/register">Signup here</a></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}